.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    background-color: black;
    padding: 50px;
  }
  
  .info-section div {
    background: linear-gradient(to bottom, #3d3d3d, #212121);
    padding: 50px;
    border-radius: 25px;
  }
  
  .info-section div h1 {
    font-size: 32px;
    line-height: 32px;
    color: white;
  }
  
  .info-section div p {
    font-size: 24px;
    line-height: 32px;
    color: white;
  }
  
  @media (max-width: 768px) {
    .info-section {
      grid-template-columns: 1fr;
      gap: 30px;
      padding: 50px;
      text-align: center;
    }
  }